<% include ./common/header %>

    <div class="container">
        <div class="py-4 px-3 pb-3 text-start" style="background-color: #00A3FF;">
            <h2 class="px-4 display-8 fw-bold text-white">회원 정보 변경</h2>
        </div>

        <div class="p-5 mb-4 bg-light">
            <div class="container-fluid py-5">
                <div id="modifyForm">
                <form class="needs-validation" novalidate method="POST" action="modify_personal" @submit="validateUserdata">
                    <div class="row g-5 align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-8">
                            <% if(hasError == 1) { %>
                            <div class="alert alert-danger" role="alert">
                                비밀번호가 일치하지 않습니다.
                            </div>
                            <% } else if(hasError == 2) { %>
                                <div class="alert alert-danger" role="alert">
                                    핸드폰 번호가 다른 사용자와 중복됩니다.
                                </div>
                            <% } else if(hasError == 3) { %>
                                <div class="alert alert-danger" role="alert">
                                    유효하지 않은 데이터가 존재합니다.
                                </div>
                            <% } %>

                            <h4 class="mb-3">개인 정보 변경</h4>
                            
                            <div class="row g-3">
                                <div class="col-9">
                                    <label for="username" class="form-label">아이디</label>
                                    <div class="input-group has-validation">
                                        <input type="text" class="form-control" name = "username" id="username" placeholder="아이디"
                                            readonly value="<%= username %>">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="username" class="form-label">현재 비밀번호</label>
                                    <div class="input-group has-validation">
                                        <input type="password" class="form-control" name = "current_passwd" id="current_passwd" placeholder="현재 비밀번호"
                                        v-bind:class = "{'is-valid': valPwd, 'is-invalid': valPwd === false}" v-model = "passwd" required>
                                        <div class="invalid-feedback">
                                            현재 비밀번호 값은 필수입니다.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="username" class="form-label">변경할 비밀번호</label>
                                    <div class="input-group has-validation">
                                        <input type="password" class="form-control" name = "new_passwd" id="new_passwd" placeholder="변경할 비밀번호">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="zip" class="form-label">Zip</label>
                                    <input type="text" class="form-control" name = "zip" id="zip" placeholder="01422" 
                                    v-bind:class = "{'is-valid': valZip, 'is-invalid': valZip === false}" v-model = "zip" readonly required value="<%= zipcode %>">
                                    <div class="invalid-feedback">
                                        유효하지 않은 우편번호
                                    </div>
                                </div>

                                <div class="col-md-9">
                                    <label for="address" class="form-label">주소</label>
                                    <input type="text" class="form-control" name = "address" id="address" placeholder="서울시 노원구 광운로 20"
                                    v-bind:class = "{'is-valid': valAddr, 'is-invalid': valAddr === false}" v-model = "addr" readonly required value="<%= address %>">
                                    <div class="invalid-feedback">
                                        주소가 입력되어야 합니다.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="address2" class="form-label">상세 주소</label>
                                    <input type="text" class="form-control" name = "address2" id="address2"
                                        placeholder="111동 1110호 (월계동, 광운대학교)" value="<%= address2 %>">
                                </div>

                                <div class="col-md-12">
                                    <button type="button" class="form-control btn btn-primary btn-sm" onclick="post()">주소 찾기</button>
                                </div>

                                <div class="col-12">
                                    <label for="address2" class="form-label">전화번호</label>
                                    <input type="text" class="form-control" name = "phone" id="phone" placeholder="010-1234-5678" value="<%= phone %>"
                                    v-bind:class = "{'is-valid': valPhone, 'is-invalid': valPhone === false}" v-model = "phone" >
                                    <div class="valid-feedback">
                                        사용할 수 있는 전화번호 입니다.
                                    </div>
                                    <div class="invalid-feedback">
                                        유효하지 않은 전화번호 입니다.
                                    </div>
                                </div>

                                <hr class="my-4">
                                <button class="w-100 btn btn-primary btn-lg" type="submit">정보 변경</button>
                </form>
            </div>
            </div>
        </div>
    </div>
    <script>
        var joinFormApp = new Vue({
            el: "#modifyForm",
            data: {
                passwd: "",
                valPwd: null,
                zip: "<%= zipcode %>",
                valZip: null,
                addr: "<%= address %>",
                valAddr: null,
                phone: "<%= phone %>",
                valPhone: null
            },
            methods: {
                validatePhone: async function(){
                    var re = /^\d{2,3}-\d{3,4}-\d{4}$/;
                    if(!re.test(this.phone)) this.valPhone = false;
                    else this.valPhone = true;
                },
                validateUserdata: function(e){
                    this.validatePhone();

                    if(!this.passwd) this.valPwd = false;
                    else this.valPwd = true;

                    if(!this.zip || this.zip.length != 5) this.valZip = false;
                    else 
                    {
                        var re = /^\d{5}$/
                        if(re.test(this.zip)) this.valZip = true;
                        else this.valZip = false;
                    }

                    if(!this.addr) this.valAddr = false;
                    else this.valAddr = true;

                    if(this.valPwd && this.valZip && this.valAddr && this.valPhone)
                    {
                        return true;
                    }

                    e.preventDefault();

                }
            }
        })
    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function post(){
        new daum.Postcode({
            oncomplete: function(data) {
                document.querySelector("#zip").value = data.zonecode;
                document.querySelector("#address").value = data.address;
                joinFormApp.zip = data.zonecode;
                joinFormApp.addr = data.address;
            }
        }).open();
    }
    </script>

<% include ./common/footer %>