<% include ./common/header %>

    <div class="container">
        <div class="py-4 px-3 pb-3 text-start" style="background-color: #00A3FF;">
            <h2 class="px-4 display-8 fw-bold text-white">회원 정보 변경</h2>
        </div>

        <div class="p-5 mb-4 bg-light">
            <div class="container-fluid py-5">
                <form class="needs-validation" novalidate method="POST" action="modify_personal">
                    <div class="row g-5 align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-8">
                            <% if(hasError == 1) { %>
                            <div class="alert alert-danger" role="alert">
                                비밀번호가 일치하지 않습니다.
                            </div>
                            <% } else if(hasError == 2) { %>
                                <div class="alert alert-danger" role="alert">
                                    핸드폰 번호가 다른 사용자와 중복됩니다.
                                </div>
                            <% } %>

                            <h4 class="mb-3">개인 정보 변경</h4>
                            <div class="row g-3">
                                <div class="col-9">
                                    <label for="username" class="form-label">아이디</label>
                                    <div class="input-group has-validation">
                                        <input type="text" class="form-control" id="username" placeholder="아이디"
                                            readonly value="<%= username %>">
                                        <div class="invalid-feedback">
                                            Your username is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="username" class="form-label">현재 비밀번호</label>
                                    <div class="input-group has-validation">
                                        <input type="password" class="form-control" id="current_passwd" placeholder="현재 비밀번호"
                                            required>
                                        <div class="invalid-feedback">
                                            Your username is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="username" class="form-label">변경할 비밀번호</label>
                                    <div class="input-group has-validation">
                                        <input type="password" class="form-control" id="new_passwd" placeholder="변경할 비밀번호"
                                            required>
                                        <div class="invalid-feedback">
                                            Your username is required.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="zip" class="form-label">Zip</label>
                                    <input type="text" class="form-control" id="zip" placeholder="01422" required value="<%= zipcode %>">
                                    <div class="invalid-feedback">
                                        Zip code required.
                                    </div>
                                </div>

                                <div class="col-md-9">
                                    <label for="address" class="form-label">주소</label>
                                    <input type="text" class="form-control" id="address" placeholder="서울시 노원구 광운로 20"
                                        required value="<%= address %>">
                                    <div class="invalid-feedback">
                                        Please enter your shipping address.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="address2" class="form-label">상세 주소</label>
                                    <input type="text" class="form-control" id="address2"
                                        placeholder="111동 1110호 (월계동, 광운대학교)" value="<%= address2 %>">
                                </div>

                                <div class="col-md-12">
                                    <button type="button" class="form-control btn btn-primary btn-sm" onclick="post()">주소 찾기</button>
                                </div>

                                <div class="col-12">
                                    <label for="address2" class="form-label">전화번호</label>
                                    <input type="text" class="form-control" id="address2" placeholder="010-1234-5678" value="<%= phone %>">
                                </div>

                                <hr class="my-4">
                                <button class="w-100 btn btn-primary btn-lg" type="submit">정보 변경</button>
                </form>
            </div>
        </div>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function post(){
        new daum.Postcode({
            oncomplete: function(data) {
                document.querySelector("#zip").value = data.zonecode;
                document.querySelector("#address").value = data.address;
            }
        }).open();
    }
    </script>

<% include ./common/footer %>