<% include ./common/header %>

<div class="container">
    <div class="py-4 px-3 pb-3 text-start" style="background-color: #00A3FF;">
        <h2 class="px-4 display-8 fw-bold text-white">내 정보</h2>
    </div>

    <div class="bg-light">
        <div class="container-fluid py-5">

            <div class="row justify-content-center text-center g-0">
                <div class="col col-md-auto group1">
                    <div class="h-100">
                        <img src="./image/syringe.png" class="rounded-circle border border-danger ms-3 me-3 mt-3 mb-1"
                            width="100px" height="100px" />
                        <p>
                        <h5><%= legal_name %> 님</h5>
                        </p>
                    </div>
                </div>
                <div class="col col-md-5 group1">
                    <div class="h-100">
                        <h5 class="mb-5 mt-3">코로나 19 예방접종 정보</h5>
                        <div class="row">
                            <div class="col col-md-3 text-start ms-4 mb-3">접종여부</div>
                            <div class="col col-md-5 text-end ms-4 mb-3">1차 접종 완료</div>
                        </div>
                        <div class="row">
                            <div class="col col-md-3 text-start ms-4 mb-3">백신 제조사</div>
                            <div class="col col-md-5 text-end ms-4 mb-3">아스트라제네카</div>
                        </div>
                        <div class="row">
                            <div class="col col-md-3 text-start ms-4 mb-3">접종일</div>
                            <div class="col col-md-5 text-end ms-4 mb-3">2021. 11. 28.</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row justify-content-center text-center g-0 mt-3">
                <div class="col col-md-6">
                    <hr class="my-4">
                    <div class="row mb-4">
                        <div class="col col-md-3 text-start">개인정보</div>
                        <div class="col col-md-9 text-end"><a href="modify_personal">개인정보 변경</a></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col col-md-2 text-start">생년월일</div>
                        <div class="col col-md-4 text-start"><%= byear %>. <%= bmonth %>. <%= bday %>.</div>
                        <div class="col col-md-2 text-start">성별 </div>
                        <div class="col col-md-4 text-start"><%= sex %> </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col col-md-2 text-start">전화번호</div>
                        <div class="col col-md-10 text-start"><%= phone %></div>
                    </div>
                    <div class = "row mb-2">
                        <div class="col col-md-2 text-start">이메일 </div>
                        <div class="col col-md-10 text-start"><%= email %></div>
                    </div>
                    <div class="row mb-2">
                        <div class="col col-md-2 text-start">주소</div>
                        <div class="col col-md-10 text-start"><%= address %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./common/footer %>