<% include ./common/header_date_pick %>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['reserve_date', 'first', 'second'],

                <% for(var i=0; i<rows.length;i++){
                    var oneItem = rows[i];
                %>
                ["<%=oneItem.reserve_date%>", parseInt("<%=oneItem.first%>"), parseInt("<%=oneItem.second%>")],
                <% } %>
            ]);

            var options = {
                title: '전국 백신 접종 현황',
                hAxis: {title: '접종 수'},
                vAxis: {title: '접종 날짜'},
            };

            var chart = new google.visualization.LineChart(document.getElementById('vacc_chart'));

            chart.draw(data, options);
        }
    </script>

    <div class="container">
        <div class="py-4 px-3 pb-3 text-start" style="background-color: #00A3FF;">
            <h2 class="px-4 display-8 fw-bold text-white">백신 접종현황</h2>
        </div>
        <div class="p-5 mb-4 bg-light">
            <div class="container-fluid py-5">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="row my-4">
                            <div class="col-md-12">
                                <div class="row" style="background-color: rgba(204, 205, 211, 0.945);">
                                    <div class="col-md-12 mx-3 my-3 fs-5">
                                        전국 1차 접종
                                    </div>
                                </div>

                                <div class="row" style="background-color: rgba(204, 205, 211, 0.945);">
                                    <div class="col-6 text-center fs-3 fw-bold mt-1">
                                        <%= (rows[rows.length-1].first/user_num*100).toFixed(2) %> %
                                    </div>

                                    <div class="col-6 text-center fs-6 mb-1">
                                        누적 <%= rows[rows.length-1].first %> <br>
                                        신규 <%= rows[rows.length-1].first - rows[rows.length-2].first %>
                                    </div>
                                </div>

                                <div class="row mt-5" style="background-color: rgba(204, 205, 211, 0.945);">
                                    <div class="col-md-12 mx-3 my-3 fs-5">
                                        전국 2차 접종
                                    </div>
                                </div>
                                <div class="row" style="background-color: rgba(204, 205, 211, 0.945);">
                                    <div class="col-6 text-center fs-3 fw-bold mt-1">
                                        <%= (rows[rows.length-1].second/user_num*100).toFixed(2) %> %
                                    </div>
                                    <div class="col-6 text-center fs-6 mb-1">
                                        누적 <%= rows[rows.length-1].second %> <br>
                                        신규 <%= rows[rows.length-1].second - rows[rows.length-2].second %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-8 my-3">
                        <div id="vacc_chart" class="py-1"
                            style="width: 500px; height: 300px; display: block; margin: 0 auto;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.m-datepicker').datepicker({
                format: "yyyy/mm/dd",
                todayHighlight: true,
                autoclose: true
            });
        });

    </script>

    <% include ./common/footer %>